# Node modules
node_modules/

# Environment variables
.env
keys/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# script de la bd
script.sql

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Build output
dist/
build/

# Misc
*.tgz

# Cloudinary cache (if any)
.cloudinary/
.vercel

# Carpeta sin uso
uploads/
